@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria); 
}

.cabecalho {
    padding: 2% 0% 0% 15% 
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 82px;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Destaque-titulo {
    color: var(--cor-terciaria);
}


.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao_conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao_links_subtitulo {
    font-family: var(--fonte-primaria); 
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_links_link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.foto {
    border-radius: 15px;
    width: 50%;
}

.apresentacao_links_link:hover {
    background-color: var(--cor-hover);
}

.rodape {
    
    padding: 24px;
    color: var(--cor-primaria);
    background-color:var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria); 
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo {
        width: auto;
    }

}